<%include file="header.html" />

<p>
	Paper Submitted to <a href="https://rrpr2020.sciencesconf.org/">RRPR 2021</a>: Pith Estimation on Tree Log End Images</br></br>
	Authors: Rémi Decelle, Phuc Ngo, Isabelle Debled-Rennesson, Frédéric Mothe and Fleur Longuetaud</br></br>
	The code source used in this demonstration is available at the <a href="https://gitlab.com/Ryukhaan/treetrace/-/tree/master">GitHub repository</a>.
</p>

<%include file="input_form_select.html" />
<%include file="input_form_upload.html" />

<%include file="footer.html" />
